<configuration>
	<!-- register local configuration handlers -->
	<configSections>
		<sectionGroup name="PortalQH">
			<section name="data" type="PortalQH.ProviderConfigurationHandler, PortalQH"/>
		</sectionGroup>
		<section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler,Microsoft.ApplicationBlocks.ExceptionManagement"/>
	</configSections>
	<!-- Sql Server connection string for support of pre DNN 2.0 Private Assemblies
		 The new connection string (for DNN 2.0) is in the section PortalQH (providers) -->
	<appSettings>
		<!-- SQL 2005 connection -->
		<add key="connectionStringPortalQH" value="Server=YNHMOTCUA-PC\SQL2008R2MOTCUA;Database=FSSPORTALQH;uid=sa;pwd=12345;min pool size=1;max pool size=500;Connect Timeout=500"/>
		<add key="connectionStringHSHCQH" value="Server=YNHMOTCUA-PC\SQL2008R2MOTCUA;Database=FSSHSHCQH;uid=sa;pwd=12345;min pool size=1;max pool size=500;Connect Timeout=500"/>
		<!-- SQL 2000 connection
		<add key="connectionStringPortalQH" value="Server=YNHMOTCUA-PC\SQL2008R2MOTCUA;Database=FSSPORTALQH;uid=sa;pwd=12345;min pool size=1;max pool size=500"/>
		<add key="connectionStringHSHCQH" value="Server=YNHMOTCUA-PC\SQL2008R2MOTCUA;Database=FSSHSHCQH;uid=sa;pwd=12345;min pool size=1;max pool size=500"/>
		 -->
		<add key="connectionStringCPKTQH" value="Server=YNHMOTCUA-PC\SQL2008R2MOTCUA;Database=FSSCPKTQH;uid=sa;pwd=12345;min pool size=1;max pool size=500;Connect Timeout=500"/>
		<add key="connectionStringCPXDQH" value="Server=YNHMOTCUA-PC\SQL2008R2MOTCUA;Database=CPXDQH;uid=sa;pwd=12345;min pool size=1;max pool size=500;Connect Timeout=500"/>
		<add key="connectionStringCPVHQH" value="Server=YNHMOTCUA-PC\SQL2008R2MOTCUA;Database=FSSCPVHQH;uid=sa;pwd=12345;min pool size=1;max pool size=500;Connect Timeout=500"/>
		<add key="connectionStringCPLDQH" value="Server=YNHMOTCUA-PC\SQL2008R2MOTCUA;Database=FSSCPLDQH;uid=sa;pwd=12345;min pool size=1;max pool size=500;Connect Timeout=500"/>
		<add key="connectionStringBCTHQH" value="Server=YNHMOTCUA-PC\SQL2008R2MOTCUA;Database=FSSBCTHQH;uid=sa;pwd=12345;min pool size=1;max pool size=500;Connect Timeout=500"/>
		<add key="connectionStringWEBQH" value="Server=YNHMOTCUA-PC\SQL2008R2MOTCUA;Database=FSSWEBQH;uid=sa;pwd=12345;min pool size=1;max pool size=500;Connect Timeout=500"/>
		<add key="connectionStringFSSQSDNDQH" value="Server=YNHMOTCUA-PC\SQL2008R2MOTCUA;Database=FSSQSDNDQH;uid=sa;pwd=12345;min pool size=1;max pool size=500;Connect Timeout=500"/>
		<add key="connectionStringSEARCH" value="Server=YNHMOTCUA-PC\SQL2008R2MOTCUA;Database=FSSPORTALQH;uid=sa;pwd=12345;min pool size=1;max pool size=500;Connect Timeout=500"/>
		<add key="connectionStringCPYTQH" value="Server=YNHMOTCUA-PC\SQL2008R2MOTCUA;Database=FSSCPYTQH;uid=sa;pwd=12345;min pool size=1;max pool size=500;Connect Timeout=500"/>
		<add key="connectionStringATTPQH" value="Server=YNHMOTCUA-PC\SQL2008R2MOTCUA;Database=FSSATTPQH;uid=sa;pwd=12345;min pool size=1;max pool size=500;Connect Timeout=500"/>
		<add key="connectionStringCREATE" value="Server=YNHMOTCUA-PC\SQL2008R2MOTCUA;Database=FSSWEBQH;uid=sa;pwd=12345;min pool size=1;max pool size=500;Connect Timeout=500"/>
		<add key="connectionStringREVIEW" value="Server=YNHMOTCUA-PC\SQL2008R2MOTCUA;Database=FSSWEBQH;uid=sa;pwd=12345;min pool size=1;max pool size=500;Connect Timeout=500"/>
		<add key="connectionStringPUBLISH" value="Server=YNHMOTCUA-PC\SQL2008R2MOTCUA;Database=FSSWEBQH;uid=sa;pwd=12345;min pool size=1;max pool size=500;Connect Timeout=500"/>
		<add key="connectionStringAPPROVE" value="Server=YNHMOTCUA-PC\SQL2008R2MOTCUA;Database=FSSWEBQH;uid=sa;pwd=12345;min pool size=1;max pool size=500;Connect Timeout=500"/>
		<add key="connectionStringPUBLISHED" value="Server=YNHMOTCUA-PC\SQL2008R2MOTCUA;Database=FSSWEBQH;uid=sa;pwd=12345;min pool size=1;max pool size=500;Connect Timeout=500"/>
		<add key="my_web" value="Server=YNHMOTCUA-PC\SQL2008R2MOTCUA;Database=FSSWEBQH;uid=sa;pwd=12345;min pool size=1;max pool size=500;Connect Timeout=500"/>
		<add key="commonDB" value="FSSPORTALQH"/>
		<add key="db_hshc" value="FSSHSHCQH"/>
		<add key="db_web" value="FSSWEBQH"/>
		<add key="db_bcth" value="FSSBCTHQH"/>
		<add key="KeyWord_CPXD" value="CPXDQH"/>
		<add key="OrgCode" value="FSSHCM"/>
		<add key="db_qlht" value="QLHT"/>
		<add key="db_chungthuc" value="CHUNGTHUC"/>
		<add key="db_cpkt" value="FSSCPKTQH"/>
		<add key="db_cpvh" value="FSSCPVHQH"/>
		<add key="db_cpld" value="FSSCPLDQH"/>
		<add key="db_vphc" value="FSSVPHCQH"/>
		<add key="db_cpyt" value="FSSCPYTQH"/>
		<add key="db_attp" value="FSSCPYTQH"/>
		<add key="db_cpxd" value="CPXDQH"/>
		<add key="db_sdnd" value="CORENHADAT"/>
		<add key="MenuIDStart" value="FSSHSHCQH"/><!--common-->
		<!-- News -->
		<add key="NewsUploadFolder" value="News\UpLoad\"/>
		<add key="NewsContentImgFolder" value="Contents"/>
		<add key="NewsPerCat" value="3"/>
		<add key="NumOFNews" value="10"/>
		<add key="DefaultCat" value="~/News/News.ascx"/>
		<add key="LCT" value="~/News/LichHomNay.ascx"/>
		<!--namth add them vao ngay 21/10/2005 - Chinh do rong va chieu cao cua frame lich trong ngay-->
		<add key="Width" value="600"/>
		<add key="Height" value="460"/>
		<!--End-->
		<add key="ImgWidth" value="80"/>
		<add key="ImgHeight" value="90"/>
		<add key="ImageFile" value="jpg,jpeg,jpe,gif,bmp,png"/>
		<add key="CV" value="~/NEWS/GiaoViec.ascx"/>
		<add key="HD" value="~/NEWS/HoiDapList.ascx"/>
		<add key="TT" value="~/News/News.ascx"/>
		<add key="FileLichToDay" value="/LichCongTac/LichHomNay.asp"/>
		<!--AnhLH them vao ngay 27/09/2004-->
		<!--Desc: Dung dinh nghia duong dan folder chua XML danh muc-->
		<add key="PathPortalQH" value="PORTALQH\XMLFILE\"/>
		<!--**********************-->
		<add key="PathSEARCH" value="SEARCH\XMLFILE\"/>
		<add key="PathHSHCQH" value="HSHC\XMLFILE\"/>
		<add key="PathCPKTQH" value="CPKTQH\XMLFILE\"/>
		<add key="PathCPLDQH" value="CPLDQH\XMLFILE\"/>
		<add key="PathCPVHQH" value="CPVHQH\XMLFILE\"/>
		<add key="PathCPXDQH" value="CPXDQH\XMLFILE\"/>
		<add key="PathQSDNDQH" value="QSDNDQH\XMLFILE\"/>
		<add key="PathCPYTQH" value="CPYTQH\XMLFILE\"/>
		<add key="PathATTPQH" value="ATTPQH\XMLFILE\"/>
		<add key="PathXML" value="XMLFILE\"/>
		<!--AnhLH them vao ngay 22/10/2004-->
		<add key="EnableNgayNhan172" value=""/>
		<!--Enable ngay nhan va unenable ngay hop le-->
		<add key="EnableNgayNhan216" value=""/>
		<add key="EnableNgayNhan402" value=""/>
		<add key="EnableNgayNhan752" value="1"/>
		<add key="EnableNgayNhan1001" value=""/>
		<!--khai bao gia tri can thiet-->
		<add key="EnableNgayNhan1105" value="1"/>
		<add key="EnableNgayNhan1110" value="1"/>
		<add key="TiepNhanPhuong1105" value="1"/>
		<add key="TiepNhanPhuong1110" value="1"/>
		<!--Def tabID phan quyen user-->
		<add key="TabPQUser" value="196,224,691"/>
		<add key="HSHCDB" value="HSHCQH"/>
		<!--' chi co gia tri khi khong co su dung chuong trinh HSHC, 
		'muc dich xac nhan linh vuc ho so. neu khong co HSHC thi lay gia tri dat trong bien  -->
		<add key="LINHVUC_DEFAULTHSHCQH" value="HSHC"/><!--dung de lay gia tri mac nhien cua linh vuc cua ho so -->
		<add key="LINHVUC_DEFAULTCPKTQH" value="CPKT"/>
		<add key="LINHVUC_DEFAULTCPVHQH" value="CPVH"/>
		<add key="LINHVUC_DEFAULTCPLDQH" value="CPLD"/>
		<add key="LINHVUC_DEFAULTCPXDQH" value="CPXD"/>
		<add key="LINHVUC_DEFAULTHTHNQH" value="HTHN"/>
		<add key="LINHVUC_DEFAULTQSDND" value="SDND"/>
		<add key="LINHVUC_DEFAULTCPYTQH" value="CPYT"/>
		<add key="LINHVUC_DEFAULTATTPQH" value="ATTP"/>
		<!--end AnhLH-->
		<add key="SSO" value="1"/>
		<add key="Name" value="HSHC"/>
		<add key="LocDuong" value="0"/>
		<add key="InGiayCNDKKDByWord" value="1"/>
		<!--Dinh nghia ngay nghi le-->
		<add key="SoNgayThucDia" value="2"/>
		<add key="TabDefault" value="117"/>
		<add key="BSHS167" value="1"/>
		<!--Tinh Trang ho so la bo sung ho so -->
		<add key="BSHS752" value="1"/>
		<add key="CheckUserHSHCQH" value="TRUE"/>
		<add key="CheckUserCPKTQH" value="FALSE"/>
		<add key="CheckUserCPVHQH" value="FALSE"/>
		<add key="CheckUserCPXDQH" value="FALSE"/>
		<add key="CheckUserHTHNQH" value="FALSE"/>
		<add key="CheckUserQSDNDQH" value="FALSE"/>
		<add key="CheckUserCPLDQH" value="FALSE"/>
		<add key="CheckUserCPYTQH" value="FALSE"/>
		<add key="CheckUserATTPQH" value="FALSE"/>
		<!--ten don vi su dung chuong trinh-->
		<add key="DonViSuDung" value="UBND Quan Binh Tan"/>
		<!--Hien trang Login khi la Guest-->
		<add key="RedirectLoginPage" value="True"/>
		<!--LDAP settings-->
		<add key="UseLDAP" value="false"/>
		<add key="Shortcut" value="fsshcm\"/>
		<add key="DomainName" value="LDAP://220.200.150.5/ou=binhtan User,dc=binhtan,dc=tphcm,dc=egov,dc=vn"/>
		<add key="Filters" value="(&amp;(objectCategory=person)(objectClass=user))"/>
		<add key="Filter1" value="(&amp;(objectCategory=person)(objectClass=user)({0}))"/>
		<add key="UNameID" value="samaccountname"/>
		<add key="MailID" value="mail"/>
		<add key="FNameID" value="name"/>
		<add key="DefName" value="fsshcm\fgvtuannh"/>
		<add key="DefPass" value=""/>
		<!--Update User-->
		<add key="UsernameID" value="name"/>
		<add key="PasswordID" value="password"/>
		<add key="IdentifyID" value="userid"/>
		<!--Users Table-->
		<add key="FnameCol" value="fullname"/>
		<add key="EmailCol" value="email"/>
		<add key="UsridCol" value="userid"/>
		<add key="PswrdCol" value="password"/>
		<add key="UsersTab" value="users"/>
		<!-- End LDAP settings-->
		<!--Intergrated
		Receive username/password from other portal
		-->
		<add key="Intergrated" value="true"/>
		<!--==================================================================================-->
		<!--excel reports-->
		<!--Tao cau noi co so du lieu sql server-->
		<add key="pstrConnSQLExcelReportCPKTQH" value="Provider=SQLOLEDB;Server=YNHMOTCUA-PC\SQL2008R2MOTCUA;uid=sa;pwd=12345;Database=FSSCPKTQH"/>
		<add key="pstrConnSQLExcelReportCPLDQH" value="Provider=SQLOLEDB;Server=YNHMOTCUA-PC\SQL2008R2MOTCUA;uid=sa;pwd=12345;Database=FSSCPLDQH"/>
		<add key="pstrConnSQLExcelReportCPVHQH" value="Provider=SQLOLEDB;Server=YNHMOTCUA-PC\SQL2008R2MOTCUA;uid=sa;pwd=12345;Database=FSSCPVHQH"/>
		<add key="pstrConnSQLExcelReportCPXDQH" value="Provider=SQLOLEDB;Server=YNHMOTCUA-PC\SQL2008R2MOTCUA;uid=sa;pwd=12345;Database=FSSCPXDQH"/>
		<add key="pstrConnSQLExcelReportQSDNDQH" value="Provider=SQLOLEDB;Server=YNHMOTCUA-PC\SQL2008R2MOTCUA;uid=sa;pwd=12345;Database=FSSQSDNDQH"/>
		<add key="pstrConnSQLExcelReportHSHCQH" value="Provider=SQLOLEDB;Server=YNHMOTCUA-PC\SQL2008R2MOTCUA;uid=sa;pwd=12345;Database=FSSHSHCQH"/>
		<add key="pstrConnSQLExcelReportCPYTQH" value="Provider=SQLOLEDB;Server=YNHMOTCUA-PC\SQL2008R2MOTCUA;uid=sa;pwd=12345;Database=FSSCPYTQH"/>
		<add key="pstrConnSQLExcelReportATTPQH" value="Provider=SQLOLEDB;Server=YNHMOTCUA-PC\SQL2008R2MOTCUA;uid=sa;pwd=12345;Database=FSSATTPQH"/>
		<!--Tao cau noi toi excel-->
		<add key="pstrConnExcel" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source= strExcelFile ; Extended Properties=Excel 8.0"/>
		<!--Chi dinh duong dan thu muc report-->
		<add key="pstrReportFolder" value="\Reports\"/>
		<!--Chi dinh file dinh dang kieu du lieu bao cao-->
		<add key="pstrPathReportsXML" value="\Reports\Templates\Reports.xml"/>
		<!--Chi dinh duong dan thu muc luu file thong ke bao cao-->
		<add key="pstrDataReportsFolderBaoCao" value="\Reports\DataReports\BaoCao\"/>
		<!--Chi dinh duong dan thu muc luu file thong ke van ban ( to trinh - quyet dinh )-->
		<add key="pstrTemplatesFolderBaoCao" value="\Reports\Templates\BaoCao\"/>
		<!--End excel reports-->
		<!--==================================================================================-->
		<!--Word reports-->
		<!--Chi dinh duong dan thu muc luu file thong ke van ban ( to trinh - quyet dinh )-->
		<add key="pstrDataReportsFolderVanBan" value="\VPHC\Reports\DataReports\VanBan\"/>
		<!--Chi dinh duong dan thu muc luu file template van ban-->
		<add key="pstrTemplatesFolderVanBan" value="\VPHC\Reports\Templates\VanBan\"/>
		<!--Dinh nghia file template ho so khong-->
		<add key="pstrFileNameHoSoKhong" value="CongVanHSKhong.doc"/>
		<!--Dinh nghia file template quyet dinh cuong che-->
		<add key="pstrFileNameQuyetDinhCuongChe" value="QuyetDinhCuongChe.doc"/>
		<!--Dinh nghia file template thong bao cuong che-->
		<add key="pstrFileNameThongBaoCuongChe" value="ThongBaoCuongChe.doc"/>
		<!--End word reports-->
		<!--==================================================================================-->
		<!-- Qui d?nh du?ng d?n d?n thu m?c theo ActiveDB -->
		<add key="FolderPathHSHCQH" value="HSHC"/>
		<add key="FolderPathCPKTQH" value="CPKTQH"/>
		<add key="FolderPathCPYTQH" value="CPYTQH"/>
		<add key="FolderPathCPVHQH" value="CPVHQH"/>
		<add key="FolderPathCPLDQH" value="CPLDQH"/>
		<add key="FolderPathATTPQH" value="ATTPQH"/>
		<!--Qui d?nh du?ng d?n d?n thu m?c template Word CPKT -->
		<add key="WordTemplatePath" value="Reports\Templates\VanBan\"></add>
		<!--Qui d?nh du?ng d?n d?n thu m?c output Word CPKT -->
		<add key="WordOutputPath" value="Reports\DataReports\VanBan\"></add>
		<!--Qui d?nh du?ng d?n d?n thu m?c template Excel CPKT  -->
		<add key="ExcelTemplatePath" value="Reports\Templates\BaoCao\"></add>
		<!--Qui d?nh du?ng d?n d?n thu m?c output Excel CPKT -->
		<add key="ExcelOutputPath" value="Reports\DataReports\BaoCao\"></add>
		<!--anhlh END-->
		<!-- Khai bao cac cac tabid chuong trinh ung dung trong trang chu-->
		<add key="homeCPKTQH" value="180"/>
		<add key="homeCPVHQH" value="180"/>
		<add key="homeCPLDQH" value="180"/>
		<add key="homeHSHCQH" value="180"/>
		<add key="homeVPHCQH" value="180"/>
		<!-- End -->
		<!-- TuanNH them ngay 16/01/2006 -->
		<add key="ReportPathCPKT" value="CPKTQH"/>
		<!--Cap phep Kinh Te -->
		<add key="ReportPathCPVH" value="CPVHQH"/>
		<!--Cap phep Van Hoa -->
		<add key="ReportPathCPLD" value="CPLDQH"/>
		<!--Cap phep Lao Dong -->
		<add key="ReportPathCPXD" value="CPXDQH"/>
		<!--Cap phep Xay Dung -->
		<add key="ReportPathCPYT" value="CPYTQH"/>
		<!--Cap phep Y te -->
		<add key="ReportPathATTP" value="ATTPQH"/>
		<!--Ho so an toan thuc pham-->
		<!-- ket thuc phan TuanNH them -->
	</appSettings>
	<system.web>
		<!-- set debugmode to false for running application -->
		<compilation debug="true"><assemblies><add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.0.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.ReportSource, Version=10.0.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Shared, Version=10.0.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Web, Version=10.0.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.0.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Enterprise.Framework, Version=10.0.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.0.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></assemblies></compilation>
		<!-- permits errors to be displayed for remote clients -->
		<customErrors mode="RemoteOnly"/>
		<!-- Forms or Windows authentication -->
		<authentication mode="Forms">
			<forms name=".PortalQH" timeout="1440"/>
		</authentication>
		<identity impersonate="true"/>
		<!--
		<identity impersonate="true" />
		<authentication mode="Windows">
		</authentication>
		-->
		<!-- allow large file uploads -->
		<httpRuntime useFullyQualifiedRedirectUrl="true" maxRequestLength="8192"/>
		<!--  GLOBALIZATION
		This section sets the globalization settings of the application. 
		Utf-8 is not supported on Netscape 4.x 
		If you need netscape compatiblity leave iso-8859-1.
		UTF-8 is recommended for complex languages
		-->
		<globalization culture="en-US" uiCulture="en" requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8"/>
		<!-- page level options -->
		<pages validateRequest="false" enableViewStateMac="true"/>
		<sessionState mode="StateServer" cookieless="false" timeout="1440"/>
	</system.web>
	<PortalQH>
		<data defaultProvider="SqlDataProvider">
			<providers>
				<clear/>
				<!-- SQL 2005
				<add name="SqlDataProvider" type="PortalQH.Data.SqlDataProvider, PortalQH.SqlDataProvider" connectionString="Server=YNHMOTCUA-PC\SQL2008R2MOTCUA;Database=FSSPORTALQH;uid=sa;pwd=12345;min pool size=1;max pool size=500" providerPath="~\Providers\DataProviders\SqlDataProvider\" objectQualifier="" databaseOwner=""/>
				 -->
				<!-- SQL 2000-->
				<add name="SqlDataProvider" type="PortalQH.Data.SqlDataProvider, PortalQH.SqlDataProvider" connectionString="Server=YNHMOTCUA-PC\SQL2008R2MOTCUA;Database=FSSPORTALQH;uid=sa;pwd=12345;min pool size=1;max pool size=500;Connect Timeout=500" providerPath="~\Providers\DataProviders\SqlDataProvider\" objectQualifier="" databaseOwner=""/>
				<add name="AccessDataProvider" type="PortalQH.Data.AccessDataProvider, PortalQH.AccessDataProvider" connectionString="PROVIDER=Microsoft.Jet.OLEDB.4.0;" providerPath="~\Providers\DataProviders\AccessDataProvider\" objectQualifier="PortalQH" databaseFilename="PortalQH.mdb.resources"/>
			</providers>
		</data>
	</PortalQH>
	<exceptionManagement mode="on">
		<!-- The fileName attribute below should always have a ".resources" extension so it cannot be downloaded from the web -->
		<publisher assembly="PortalQH" type="PortalQH.XMLExceptionPublisher" fileName="Exceptions.xml.resources" include="*" exceptionFormat="xml"/>
	</exceptionManagement>
</configuration>
